@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.layout {
	width: 100%;

	display: grid;
	grid:
		"header header header" auto
		"leftSide body rightSide" 1fr
		"footer footer footer" auto
		/ auto 1fr auto;
	gap: 8px;
}

.header {
	grid-area: header;
}
.leftSide {
	grid-area: leftSide;
}
.body {
	grid-area: body;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.rightSide {
	grid-area: rightSide;
}
.footer {
	grid-area: footer;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
